body {
  background: #333;
  font-family: Roboto, Arial,Helvetica,sans-serif;
}

#page-wrap:after {
  content: "Smartphone Layout";
}

header{
  background-color: #1976D2;
}

h2 span, section h3 {
  display: none;
}

header h2{
  color: white;
}

body {
  font-size: xx-large;
}

footer, input {
  font-size: large;
}

a {
  text-decoration:none;
  color: #444444;
  display:inline-block;
}
